.body::before {
  background-image: url('../../public/img/Header_Planeta.gif');
  background-size: cover;
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -999;
}

.body::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -998;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
}
.body {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
