.body::before {
  background-image: url('../../public/img/Header_Planeta.gif');
  background-size: cover;

  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.body {
  text-align: center;
  padding: 10%;
}
